---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
