global
  maxconn 4096
  nbthread 1
  tune.bufsize 16384

defaults
  mode http
  option http-keep-alive
  option http-server-close
  timeout connect 1s
  timeout client 10s
  timeout server 10s
  timeout http-request 5s

frontend rinha_front
  bind *:9999
  default_backend rinha_api

backend rinha_api
  balance roundrobin
  option httpchk GET /ready
  server api1 /sockets/api1.sock check inter 1s fall 3 rise 1 maxconn 1024
  server api2 /sockets/api2.sock check inter 1s fall 3 rise 1 maxconn 1024
